{{ define "index" }}
{{ if .IsAuthenticated }}
    {{ template "header_for_auth" }}
{{ else }}
    {{ template "header" }}
{{ end }}

<main>
  <section class="py-5">
    <div class="container py-lg-5 text-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Articles</h1>
          <p class="lead text-body-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste inventore voluptate harum praesentium fugiat consequuntur magni molestiae adipisci nihil asperiores, hic dolor numquam ducimus expedita id a cupiditate? Possimus, architecto?</p>
          {{ range .Article }}
          <div class="alert alert-light text-center my-4">
            <a href="/post/{{ .Id }}" class="text-decoration-none">
              <h2>{{ .Title }}</h2>
            </a>
            <p>Author: {{ .AuthorName }}</p>
            <a href="/post/{{ .Id }}" class="text-decoration-none">
              <p>{{ .Description }}</p>
            </a>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Read More</a>
          </div>
          {{ else }}
          <p class="lead">There are no articles</p>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</main>
{{ template "footer" }}
{{ end }}
